<h1>Product Types Listing</h1>
 
<%= link_to 'New Product Type', new_admin_product_type_path , class: 'btn btn-primary ml-3'%>
<br />
<br />

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% @product_types.each do |product_types| %>
    <tr>
      <td><%= product_types.name %></td>
      <td>
        <%= link_to 'Edit',  edit_admin_product_type_path(product_types), class: 'btn btn-warning'%>
        <%= link_to 'Destroy', admin_product_type_path(product_types),
                method: :delete,
                data: { confirm: 'Are you sure?' }, 
                class: 'btn btn-danger'%>
      </td>
    </tr>
  <% end %>
</table>  
