<div class="container-fluid">
  <h1 class="display-4 text-center mb-5"> COLLECTION </h1>

  <% @product_types.in_groups_of(3, false).each do |product_types| %>
    <div class="row">
      <% product_types.each do |product_type| %>
        <div class="card bg-dark text-white mx-auto mb-2 col-3">
        <%= image_tag(product_type.image_url, class: 'card-img') if product_type.image? %>
          <div class="card-img-overlay text-center">
            <%= product_type.name %> <br/>
            <%= link_to 'Show', shop_show_path(product_type.name), class: 'badge text-white'%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
