<footer>
  <div class="container-fluid">
    <p class="p-3 mb-0 d-inline"> Copyright © 2020 BRAND NAME All Rights Reserved</p>
    <span class="float-right">
      <div class="footer-socmed-links-container d-inline">
        <a href="" target="_blank" class="footer-socmed-link">
          <i class="fab fa-facebook"></i>
        </a>

        <a href="" target="_blank" class="footer-socmed-link">
          <i class="fab fa-instagram"></i>
        </a>

        <a href="" target="_blank" class="footer-socmed-link">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
