<footer>
  <div class="container-fluid">
    <p class="p-3 mb-0 d-inline"> Copyright © 2020 BRAND NAME All Rights Reserved</p>
    <span class="float-right">
      <div class="footer-socmed-links-container d-inline">
        <a href="" target="_blank" class="footer-socmed-link">
          <%= fa_icon "facebook-square "%>
        </a>

        <a href="" target="_blank" class="footer-socmed-link">
          <%= fa_icon "instagram"%>
        </a>

        <a href="" target="_blank" class="footer-socmed-link">
          <%= fa_icon "youtube"%>
        </a>
      </div>
    </div>
  </div>
</footer>
