// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-image-container {
  background-image: url("1594775304632.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
